<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/general.css">
    <link rel="stylesheet" href="//cdn.datatables.net/2.3.6/css/dataTables.dataTables.min.css">
    <script
			  src="https://code.jquery.com/jquery-4.0.0.slim.min.js"
			  integrity="sha256-8DGpv13HIm+5iDNWw1XqxgFB4mj+yOKFNb+tHBZOowc="
			  crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/2.3.6/js/dataTables.min.js"></script>
    <script src="/static/javascript/persona_page.js"></script>
    <title>{{ persona.name }}</title>
</head>
<body>
    <h2>{{ persona.arcana.to_string() }} <b>{{ persona.name }}</b> Level {{ persona.base_level }}</h2> 
    <!-- resistances table -->
    <h3>Resistances</h3>
    <table>
        <tr>
            <th>Slash</th>
            <th>Strike</th>
            <th>Pierce</th>
            <th>Fire</th>
            <th>Ice</th>
            <th>Elec</th>
            <th>Wind</th>
            <th>Dark</th>
            <th>Light</th>
            <th>Almighty</th>
        </tr>
        <tr>
            {% for resistances in persona.affinities %}
                {% if *resistances == '-'%}
                    <td>{{ resistances }}</td>
                {% else if *resistances == 'w'%}
                {% else if *resistances == 'r'%} 
                {% endif %}
            {% endfor %}
        </tr>
    </table>

    <h3>Stats</h3>
    <table>
        <tr>
            <th>St</th>
            <th>Mg</th>
            <th>En</th>
            <th>Ag</th>
            <th>Lu</th>
        </tr>
        <tr>
            {% for stat in persona.stats %}
            <td>{{stat}}</td>
            {% endfor %}
        </tr>
    </table>

    <h3>Skills</h3>
    <table>
        {% for skill in skill_list %}
        <tr>
            <td>{{ skill.0.name }}</td>
            <td>{{ skill.0.description }}</td>
            <td>{{ skill.1 }}</td>
        </tr>
        {% endfor %}
    </table>

    <h4>Reverse Fusions</h4>
    <h4>Forward Fusions</h4>

    
    {% match reverse_fusions %}
    {% when Normal(recipe_list) %}
        <table id="reverse-fusions">
            <thead>
                <tr>
                    <th rowspan="2">Cost</th>
                    <th colspan="3">Ingredient</th>
                    <th colspan="3">Ingredient</th>
                </tr>
                <tr>
                    <th>Arcana</th>
                    <th>Level</th>
                    <th>Name</th>
                    <th>Arcana</th>
                    <th>Level</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                {% for recipe in recipe_list %}
                <tr>
                    <td>{{ recipe.0.cost + recipe.1.cost }}</td>
                    <td>{{ recipe.0.arcana.to_string() }}</td> 
                    <td>{{ recipe.0.base_level }}</td> 
                    <td>{{ recipe.0.name }}</td> 
                    <td>{{ recipe.1.arcana.to_string() }}</td> 
                    <td>{{ recipe.1.base_level }}</td> 
                    <td>{{ recipe.1.name }}</td> 
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% when Special(recipe) %}
        <table id="reverse-fusions">
            <thead>
                <tr>
                    <th>Arcana</th>
                    <th>Level</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                {% for ingredient in recipe %}
                    <tr>{{ ingredient.arcana.to_string() }}</tr>
                    <tr>{{ ingredient.base_level }}</tr>
                    <tr>{{ ingredient.name }}</tr>
                {% endfor %}
            </tbody>
        </table>
    {% endmatch %}

    <table id="forward-fusions">
        <thead>
            <tr>
                <th rowspan="2">Cost</th>
                <th colspan="3">Ingredient</th>
                <th colspan="3">Result</th>
            </tr>
            <tr>
                <th>Arcana</th>
                <th>Level</th>
                <th>Name</th>
                <th>Arcana</th>
                <th>Level</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in forward_fusions %}
            <tr>
                <td>{{ recipe.0.cost + recipe.1.cost }}</td>
                <td>{{ recipe.0.arcana.to_string() }}</td> 
                <td>{{ recipe.0.base_level }}</td> 
                <td>{{ recipe.0.name }}</td> 
                <td>{{ recipe.1.arcana.to_string() }}</td> 
                <td>{{ recipe.1.base_level }}</td> 
                <td>{{ recipe.1.name }}</td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>