<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="static/css/general.css">
  <script src="/static/javascript/sorttable.js"></script>
  <title>Document</title>
</head>
<body>
  <h1>This is the home page</h1>

  <table class="sortable">
    <thead>
      <tr>
        <th>Arcana</th>
        <th>Name</th>
        <th>Lvl</th>
        <th colspan="5">Stats</th>
        <th colspan="9">Resistances</th>
      </tr>
    </thead>
    <tbody>
      {% for persona in persona_list %}
        <tr>
          <td><a href="persona/{{persona.name}}">{{persona.name}}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>