<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ persona.name }}</title>
</head>
<body>
    <h2>{{ persona.arcana.to_string() }} <b>{{ persona.name }}</b> Level {{ persona.base_level }}</h2> 
    <!-- resistances table -->
    <h3>Resistances</h3>
    <table>
        <tr>
                {% for affinity in affinities %}
                    <th>{{ affinity.to_string() }}</th>
                {% endfor %}
        </tr>

    </table>
    <table></table>
    <table></table>
</body>
</html>