.special td  {
    background-color: hsla(0, 100%, 80%, 0.534);
}

a:link {
    color: aqua;
}
a:visited {
    color: aqua;
}

.persona_list { 
    display: flex;
    align-items:  center;
    justify-content: center;
}