@font-face {
  font-family: Biolinum;
  src: url("/static/fonts/LinBiolinum_R.otf") format("opentype");
}

@font-face {
  font-family: Biolinum;
  src: url("/static/fonts/LinBiolinum_RB.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: Biolinum;
  src: url("/static/fonts/LinBiolinum_RB.otf") format("opentype");
  font-style: italic;
}

body {
  background-color: #2c6db6;
  font-family: Biolinum;
}

h1 {
  color: white;
}

p,
table {
  color: white;
}

.weak {
  color: red;
}

.resist {
  color: darkcyan;
}

.null {
  color: grey;
}

.repel {
  color: yellow;
}

.absorb {
  color: green;
}
