@font-face {
  font-family: Biolinum;
  src: url("/static/fonts/LinBiolinum_R.otf") format("opentype");
}

@font-face {
  font-family: Biolinum;
  src: url("/static/fonts/LinBiolinum_RB.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: Biolinum;
  src: url("/static/fonts/LinBiolinum_RB.otf") format("opentype");
  font-style: italic;
}

body {
  background-color: #2c6db6;
  color: white;
  font-family: Biolinum;
}

.weak {
  color: red;
}

.resist {
  color: violet;
}

.null {
  color: black;
}

.repel {
  color: yellow;
}

.absorb {
  color: limegreen;
}
